body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:786px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:61px;
}
#u455 {
  position:absolute;
  left:236px;
  top:120px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u456 {
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:61px;
}
#u457 {
  position:absolute;
  left:416px;
  top:120px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u458 {
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:144px;
}
#u459 {
  position:absolute;
  left:30px;
  top:78px;
  width:175px;
  height:144px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u460 {
  position:absolute;
  left:2px;
  top:64px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:134px;
}
#u461 {
  position:absolute;
  left:526px;
  top:88px;
  width:256px;
  height:134px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u462 {
  position:absolute;
  left:2px;
  top:59px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:59px;
}
#u463 {
  position:absolute;
  left:30px;
  top:20px;
  width:175px;
  height:58px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u464 {
  position:absolute;
  left:2px;
  top:20px;
  width:171px;
  word-wrap:break-word;
}
#u465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:59px;
}
#u465 {
  position:absolute;
  left:236px;
  top:20px;
  width:260px;
  height:58px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u466 {
  position:absolute;
  left:2px;
  top:20px;
  width:256px;
  word-wrap:break-word;
}
#u467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:59px;
}
#u467 {
  position:absolute;
  left:526px;
  top:20px;
  width:260px;
  height:58px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u468 {
  position:absolute;
  left:2px;
  top:20px;
  width:256px;
  word-wrap:break-word;
}
#u469 {
  position:absolute;
  left:316px;
  top:150px;
  width:0px;
  height:0px;
}
#u469_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u469_seg1 {
  position:absolute;
  left:87px;
  top:-10px;
  width:20px;
  height:20px;
}
#u470 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
